.container {
  display: flex;
  justify-content: center;
}
body {
  background-image: linear-gradient( 135deg, #F1CA74 10%, #A64DB6 100%);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.advice {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  background-color: #A64DB6;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
